.home-banner {
    background-image: url(../../res/images/images.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px;
    height: fit-content;
    min-height: 84.5vh;
}
.w{
    width: 70vw;
}
/* 
@media (min-width:992px) {
    .home-banner {
        height: 85vh;
    }
} */