a{
    text-decoration: none;
}
*:focus:not(a){
    box-shadow: none !important;
    outline: none !important;
}
.btn-sahil{
    background-color: rgb(204, 0, 204);
    border: rgb(204, 0, 204);
    color: #fff;
}
.btn-sahil:hover{
    background-color: rgb(150, 0, 150);
    border: rgb(150, 0, 150);
    color: #fff;
}
body{
    overflow-x: hidden;
}