a{
    text-decoration: none;
}
*:focus:not(a){
    box-shadow: none !important;
    outline: none !important;
}
.btn-sahil{
    background-color: salmon;
    border: salmon;
    color: #fff;
}
.btn-sahil:hover{
    background-color: rgb(206, 106, 94);
    border: rgb(206, 106, 94);
    color: #fff;
}
body{
    overflow-x: hidden;
}

::-webkit-scrollbar{
    background-color: lightsalmon;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(228, 119, 107);
}
::-webkit-scrollbar-thumb:active{
    background-color: rgb(206, 113, 103);
}